:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 128 122 136;
  --oui-color-primary-light: 148 142 152;
  --oui-color-primary-darken: 108 103 118;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 255 140 0;
  --oui-color-link-light: 255 170 50;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 183 77;
  --oui-color-warning-light: 255 207 104;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 40 38 45;
  --oui-color-fill-active: 44 42 53;

  --oui-color-base-1: 108 107 118;
  --oui-color-base-2: 98 97 108;
  --oui-color-base-3: 88 87 98;
  --oui-color-base-4: 78 77 88;
  --oui-color-base-5: 68 67 78;
  --oui-color-base-6: 58 57 68;
  --oui-color-base-7: 80 74 101;
  --oui-color-base-8: 48 46 63;
  --oui-color-base-9: 38 36 53;
  --oui-color-base-10: 23 22 33;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 148 142 152;
  --oui-gradient-primary-end: 108 103 118;

  --oui-gradient-secondary-start: 255 170 50;
  --oui-gradient-secondary-end: 148 142 152;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 255 140 0;
  --oui-gradient-brand-end: 170 105 66;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 183 77;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}